
<section id="about" class=" flex flex-col items-center justify-center px-4 py-14 md:flex-row-reverse md:justify-evenly">
	<img src="/undraw_co-working_re_w93t.svg" class="hidden md:block max-w-[45%] drop-shadow-lg" alt="" 
        transition:name="co-working"
	>
	<div class="max-w-md flex flex-col items-center sm:items-start">
		<h1 class="w-full text-3xl sm:text-4xl md:text-5xl text-slate-950 pb-3">Our <span class="text-purple-950">Agency</span></h1>
		<p class="text-slate-950 text-sm sm:text-base">We believe in the power of data. Our analytics-driven approach allows us to make informed decisions and optimize your marketing efforts for maximum ROI. Let's turn your data into actionable insights. Tailored solutions for your business.</p>
		<a href="/aboutUs" class="rounded-md border-2 border-violet-600 bg-violet-600 px-4 py-2 font-medium text-white text-nowrap transition-colors mt-8">Read more</a>	
	</div>
</section>