<footer class=" bg-violet-300">
    <div class="hidden justify-between border-violet-600  bg-violet-600 rounded-lg absolute -top-8 left-10 right-10 px-8 py-4 max-w-6xl">
        <h2 class="text-xl">Ready to get started?</h2>
        <button class="text-xl">Contact us</button>
    </div>
    <div class="flex flex-col gap-4 pt-10 items-center w-full md:gap-10 md:flex-row md:justify-evenly md:items-start pb-5">
        <div class="flex flex-col items-center justify-center max-w-lg">
            <input type="checkbox" class="peer hidden" id="footer-redes-open" />
            <label class=" text-xl font-semibold cursor-pointer md:hidden flex items-center justify-center" for="footer-redes-open">
                Social
			   <img class="size-4" src="/carret-down.svg" alt="carret">
		    </label>
            <ul class=" flex flex-col items-center space-y-2 
                    peer-checked:mt-2 peer-checked:max-h-56 max-h-0 w-full 
                    justify-between overflow-hidden transition-all
                    md:ml-auto md:justify-end md:overflow-visible md:max-h-none
                    ">
                <li class="text-violet-950 font-semibold hidden md:inline">   Redes</li>
                <li class="text-violet-950  hover:text-white">   <a href="/">Facebook</a></li>
                <li class="text-violet-950  hover:text-white">   <a href="#about">Instagram</a></li>
                <li class="text-violet-950  hover:text-white">   <a href="#services">Twitter</a></li>
		    </ul>
        </div>
        <div class="flex flex-col items-center justify-center max-w-sm">
            <input type="checkbox" class="peer hidden" id="footer-company-open" />
            <label class=" text-xl font-semibold cursor-pointer md:hidden flex items-center justify-center" for="footer-company-open">
                Company
			   <img class="size-4" src="/carret-down.svg" alt="carret">
		    </label>
            <ul class=" flex flex-col items-center space-y-2 
                    peer-checked:mt-2 peer-checked:max-h-56 max-h-0 w-full 
                    justify-between overflow-hidden transition-all
                     md:ml-auto md:justify-end md:overflow-visible md:max-h-none
                    ">
                <li class="text-violet-950 font-semibold hidden md:inline">   Company</li>

                <li class="text-violet-950  hover:text-white">   <a href="/">About</a></li>
                <li class="text-violet-950  hover:text-white">   <a href="#about">Contact</a></li>
                <li class="text-violet-950  hover:text-white">   <a href="#services">Careers</a></li>
                <li class="text-violet-950  hover:text-white">   <a href="#services">Team</a></li>
		    </ul>
        </div>
        <div class="flex flex-col items-center justify-center max-w-sm">
            <input type="checkbox" class="peer hidden" id="footer-designs-open" />
            <label class=" text-xl font-semibold cursor-pointer md:hidden flex items-center justify-center" for="footer-designs-open">
                Designs
			   <img class="size-4" src="/carret-down.svg" alt="carret">
		    </label>
            <ul class=" flex flex-col items-center space-y-2 
                    peer-checked:mt-2 peer-checked:max-h-56 max-h-0 w-full 
                    justify-between overflow-hidden transition-all
                     md:ml-auto md:justify-end md:overflow-visible md:max-h-none
                    ">
                <li class="text-violet-950 font-semibold hidden md:inline">   Designs</li>

                <li class="text-violet-950  hover:text-white">   <a href="/">Design contest</a></li>
                <li class="text-violet-950  hover:text-white">   <a href="#about">1 to-1 Projects</a></li>
                <li class="text-violet-950  hover:text-white">   <a href="#services">Find a designer</a></li>
                <li class="text-violet-950  hover:text-white">   <a href="#services">Discover inspiration</a></li>
                <li class="text-violet-950  hover:text-white">   <a href="#services">Pricing</a></li>
		    </ul>
        </div>
         <div class="flex flex-col items-center justify-center max-w-sm">
            <input type="checkbox" class="peer hidden" id="footer-Resource-open" />
            <label class=" text-xl font-semibold cursor-pointer md:hidden flex items-center justify-center" for="footer-Resource-open">
                Resources
			   <img class="size-4" src="/carret-down.svg" alt="carret">
		    </label>
            <ul class=" flex flex-col items-center space-y-2 
                    peer-checked:mt-2 peer-checked:max-h-56 max-h-0 w-full 
                    justify-between overflow-hidden transition-all
                     md:ml-auto md:justify-end md:overflow-visible md:max-h-none
                    ">
                <li class="text-violet-950 font-semibold hidden md:inline">   Resources</li>

                <li class="text-violet-950  hover:text-white">   <a href="/">Become a designer</a></li>
                <li class="text-violet-950  hover:text-white">   <a href="#about">Design without borders</a></li>
                <li class="text-violet-950  hover:text-white">   <a href="#services">Find a designer</a></li>
                <li class="text-violet-950  hover:text-white">   <a href="#services">Affiliates</a></li>
		    </ul>
        </div>
    </div>
    <div class="bg-violet-950 w-full h-12 footer flex items-center justify-center">
        <p class="text-white font-medium">All right reserved</p>
    </div>
</footer>
<style>
	.footer{		
  		border-top-left-radius: 100% 50px;
        border-top-right-radius: 100% 50px;
	}
</style>