---
interface Props {
	title: string;
}
import Footer from '../components/Footer.astro';

import Header from '../components/Header.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class=" font-outfit scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="bg-slate-100 w-full">
		<Header />
			<slot />
		<Footer/>
	</body>
</html>
